@import "tailwindcss";

.button {
  @apply relative;
  transition: 0.3s;
}

.button:enabled:hover {
  transform: scale(1.1);
  background-color: var(--main__btn_bg);
  cursor: pointer;
}
.button:enabled:active {
  transition: 0.1s;
  transform: scale(0.9);
}

.bubble {
  animation: explode 0.5s ease-in-out forwards;
}

@keyframes explode {
  0% {
    transform: translate(0, 0) scale(0);
    opacity: 0;
  }

  50% {
    transform: translate(var(--pos));
    opacity: 1;
  }

  100% {
    transform: translate(0, 0) scale(0);
    opacity: 0;
  }
}

/* 
.bubbles {
  @apply absolute -left-1/2 top-0 w-full h-full;
}
.bubbles::after {
  @apply absolute content-[""] h-full w-full -top-full;
  background-image: radial-gradient(circle, var(--blue__app) 20%, transparent 20%),
    radial-gradient(circle, var(--blue__app) 20%, transparent 20%),
    radial-gradient(circle, var(--blue__app) 20%, transparent 20%),
    radial-gradient(circle, var(--blue__app) 20%, transparent 20%),
    radial-gradient(circle, var(--blue__app) 20%, transparent 20%),
    radial-gradient(circle, var(--blue__app) 20%, transparent 20%),
    radial-gradient(circle, var(--blue__app) 20%, transparent 20%),
    radial-gradient(circle, var(--blue__app) 20%, transparent 20%),
    radial-gradient(circle, var(--blue__app) 20%, transparent 20%),
    radial-gradient(circle, var(--blue__app) 20%, transparent 20%);

  background-repeat: no-repeat;
  background-size: 10% 10%, 20% 20%, 10% 10%, 20% 20%, 10% 10%, 20% 20%, 10% 10%,
    20% 20%, 10% 10%, 20% 20%;

  background-position: 10% 125%, 20% 125%, 30% 125%, 40% 125%, 50% 125%,
    60% 125%, 70% 125%, 80% 125%, 90% 125%, 100% 125%;
  animation: bubble 0.4s ease-in-out forwards;
}

@keyframes bubble {
  50% {
    background-position: 0% 0%, 10% 0%, 20% 0%, 30% 0, 40% 0%, 50% 0%, 70% 0%,
      80% 0%, 90% 0%, 100% 0%;
  }
  100% {
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%,
      0% 0%, 0% 0%;
  }
} */
