.el__spinner_btn {
  box-shadow: 0 0 10px #2563eb, 0 0 20px #2563eb, 0 0 30px #2563eb;
}

.el__spinner_btn {
  animation: boat 1s linear infinite;
  animation-delay: var(--delay_spinner_btn);
}

@keyframes boat {
  0% {
    transform: translateY(10%) scale(1);
  }
  50% {
    transform: translateY(-100%) scale(1.5);
  }
  100% {
    transform: translateY(10%) scale(1);
  }
}
