@import "tailwindcss";

/* 
IMPORTANT: for some practical reasons i prefer using snake case instead of kebab case in css naming, but only because i am working just myself on this project, if i would have been in a team i would have followed conventions of css or those one established by team   
*/

* {
  font-family: "Sour Gummy";
}

/* INDEX*/

.z__header {
  z-index: 1000;
}
.z__sidebar_bg {
  z-index: 500;
}
.z__sidebar {
  z-index: 1000;
}

/* TXT */

.txt__0 {
  @apply text-xs md:text-sm lg:text-base;
}
.txt__1 {
  @apply text-sm md:text-base lg:text-lg;
}
.txt__2 {
  @apply text-base md:text-lg lg:text-xl;
}
.txt__3 {
  @apply text-lg md:text-xl lg:text-2xl;
}
.txt__4 {
  @apply text-xl md:text-2xl lg:text-3xl;
}
.txt__5 {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

/* ICONS */

.icon__lg {
  @apply min-w-[40px] min-h-[40px] text-white;
}
.icon__md {
  @apply min-w-[30px] sm:min-w-[35px] min-h-[30px] sm:min-h-[35px] text-white;
}
.icon__with_txt {
  @apply transition-all duration-300 group-hover:text-blue-600;
}
.icon__logic {
  @apply transition-all duration-300 hover:text-blue-600 hover:scale-120 cursor-pointer;
}
.icon__close {
  @apply min-w-[50px] min-h-[50px] text-white transition-all duration-300 hover:text-red-600 hover:scale-120 cursor-pointer;
}

/* UTILS */

.el__flow {
  @apply transition-all duration-300;
}
.el__after_below {
  @apply relative max-w-fit cursor-pointer;
}
.el__after_below::after {
  @apply absolute content-[""] -bottom-2 left-1/2 w-0 h-[3px] bg-blue-600 transition-all duration-300 -translate-x-1/2;
}
.el__after_below:hover::after {
  @apply w-full;
}

/* BUTTONS */

.btn__clear {
  appearance: none;
}

/* GENERAL */

.scrollbar__hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar__app::-webkit-scrollbar-thumb {
  @apply bg-blue-600 rounded-lg cursor-pointer;
}
.scrollbar__app::-webkit-scrollbar-track {
  @apply bg-neutral-800;
}
.scrollbar__x::-webkit-scrollbar {
  @apply h-[8px];
}
.scrollbar__y::-webkit-scrollbar {
  @apply w-[10px];
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
