.terms {
  border: 2px solid var(--check-color);
}

.checky {
  animation: checky 0.5s ease;
}

@keyframes checky {
  0% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.5, 0.75);
  }
  60% {
    transform: scale(0.75, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
