@import "tailwindcss";

.el__spinner_page_in {
  @apply absolute w-[200px] sm:w-[300px] h-[200px] sm:h-[300px];
}

.el__spinner_page_in::after {
  @apply content-[""] absolute inset-0 w-[40px] sm:w-[50px] h-[40px] sm:h-[50px] rounded-full bg-blue-600;
  box-shadow: 0 0 10px #2563eb, 0 0 20px #2563eb, 0 0 30px #2563eb,
    0 0 40px #2563eb;
}
.el__spinner_page_in,
.el__spinner_page_container {
  @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}
.el__spinner_page_container {
  @apply absolute;
}
.el__spinner_page_out {
  animation: circle 3s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
