.images_swapper {
  .cont {
    // @apply max-w-[245px];

    // @media (min-width: 550px) {
    //   @apply max-w-[485px];
    // }
    // @media (min-width: 768px) {
    //   @apply max-w-[685px];
    // }
    // @media (min-width: 1200px) {
    //   @apply max-w-[1025px];
    // }
    // @media (min-width: 1500px) {
    //   @apply max-w-[1365px];
    // }

    .wrapper {
      perspective: 1000px;
      .card {
        transform-style: preserve-3d;
        transition: transform 0.7s ease-in-out;
        cursor: pointer;
        position: relative;

        &:hover {
          transform: rotateY(180deg);
        }

        .client,
        .server {
          @apply absolute inset-0 min-w-full min-h-full;
          backface-visibility: hidden;
        }

        .server {
          @apply rounded-xl bg-neutral-950;
          transform: rotateY(180deg);
          overflow: hidden;
        }
      }
    }
  }

  .btn {
    @apply absolute top-1/2 -translate-y-1/2 border-2 border-blue-600 rounded-xl p-2 bg-[#000] flex justify-center items-center hover:scale-110 cursor-pointer transition-all duration-300 z-30;
    appearance: none;
  }
}
