.spinner_btn {
  box-shadow: 0 0 10px var(--blue__app), 0 0 20px var(--blue__app),
    0 0 30px var(--blue__app);
  animation: boat 1s ease-in-out infinite;
  animation-delay: var(--delay_spinner_btn);
}

@keyframes boat {
  0% {
    transform: scale(1) translateY(0%);
    opacity: 1;
  }
  50% {
    transform: scale(1.5) translateY(-65%);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.5s) translateY(0%);
    opacity: 1;
  }
}
