@import "tailwindcss";

/* @keyframes circle_out {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@keyframes circle_in_el {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.spinner_page_el__spinner_page_in {
  @apply w-[200px] sm:w-[300px] h-[200px] sm:h-[300px];
}

.spinner_page_el__spinner_page_in::after {
  @apply content-[""] absolute inset-0 w-[40px] sm:w-[50px] h-[40px] sm:h-[50px] rounded-full bg-blue-600;
  box-shadow: 0 0 10px var(--blue__app), 0 0 20px var(--blue__app),
    0 0 30px var(--blue__app), 0 0 40px var(--blue__app);
  animation: circle_in_el 1s linear infinite;
  animation-delay: var(--delay_page);
  transform: scale(0);
  /* transform: scale(var(--start__scale)); */
}
