.btn_checkbox {
  transition: 0.3s;
  border: 2px solid var(--border_btn_check);
  transform: scale(var(--scale_btn_check));

  &:enabled:hover {
    transform: scale(var(--scale_btn_check_hover));
    color: var(--color_btn_check);
    border: 2px solid var(--border_btn_check);
  }
  &:enabled:active {
    transition: 0.1s;
    transform: scale(0.8);
  }
}
