.button_swapper {
  @apply border-2 border-blue-600 rounded-xl p-2 flex justify-center items-center enabled:cursor-pointer transition-all duration-300 disabled:opacity-50;

  &:enabled:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }
  &:enabled:active {
    transition: 0.1s;
    transform: scale(0.9);
  }
}
