.pwd_field {
  .btn {
    @apply cursor-pointer;
    transition: 0.3s;
    &:hover {
      @apply text-blue-600 scale-130;
    }
    &:active {
      transition: 0.1s;
      transform: scale(0.8);
    }
  }
}
