.pwd_field__btn__pwd {
  @apply cursor-pointer;
  transition: 0.3s;
}
.pwd_field__btn__pwd:hover {
  @apply text-blue-600 scale-130;
}
.pwd_field__btn__pwd:active {
  transition: 0.1s;
  transform: scale(0.8);
}
