.wrapper_cart_item {
  .cart_item {
    display: grid;
    grid-template-columns: 1fr;
    max-height: fit-content;

    &.cart_item_with_imgs {
      @media screen and (min-width: 600px) {
        grid-template-columns: 175px 1fr;
      }
    }
  }

  .form_qty {
    @media screen and (min-width: 450px) {
      grid-template-columns: 1fr 2fr;

      .parent_btns {
        justify-items: end;
      }
    }
  }
}
