@import "tailwindcss";

.btn__container {
  @apply relative;
  transition: 0.3s;
}
.btn__container:enabled:hover {
  transform: scale(1.1);
  background-color: #2563eb;
  color: whitesmoke;
  cursor: pointer;
}
.btn__container:enabled:active {
  transition: 0.1s;
  transform: scale(0.9);
}
.bubbles {
  @apply absolute -left-1/2 top-0 w-full h-full;
}
.bubbles::after {
  @apply absolute content-[""] h-full w-full -top-full;
  background-image: radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%),
    radial-gradient(circle, #2563eb 20%, transparent 20%);

  background-repeat: no-repeat;
  background-size: 10% 10%, 20% 20%, 10% 10%, 20% 20%, 10% 10%, 20% 20%, 10% 10%,
    20% 20%, 10% 10%, 20% 20%, 10% 10%, 20% 20%, 10% 10%, 20% 20%, 10% 10%,
    20% 20%;

  background-position: 10% 100%, 15% 100%, 20% 100%, 25% 100%, 30% 100%,
    35% 100%, 40% 100%, 45% 100%, 50% 100%, 55% 100%, 60% 100%, 65% 100%,
    70% 100%, 75% 100%, 80% 100%, 85% 100%;
  animation: bubble 0.4s ease-in-out forwards;
}

@keyframes bubble {
  50% {
    background-position: -10% 0%, -5% 0%, 0% 0%, 5% 0%, 10% 0%, 20% 0%, 30% 0%,
      30% 0%, 40% 0%, 60% 0%, 80% 0%, 90% 0%, 95% 0%, 100% 0%, 105% 0%, 110% 0%;
  }
  100% {
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%,
      0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%,
      0% 0%, 0% 0%;
  }
}
