.z_check_pwd_span {
  z-index: 100;
}

.z__footer_bar {
  z-index: 200;
}

.z__sidebar_bg {
  z-index: 700;
}
.z__sidebar {
  z-index: 750;
}

.z__header {
  z-index: 800;
}
.z__drop_header {
  z-index: 850;
}

.z__popup_bg {
  z-index: 900;
}
.z__popup {
  z-index: 950;
}

.z__toast {
  z-index: 1000;
}
