@import "tailwindcss";

.skeleton {
  background: linear-gradient(90deg, #222 25%, #333 50%, #222 75%);
  background-size: 200% 100%;
  animation: skeleton_search 1.5s infinite linear;
}

@keyframes skeleton_search {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
