@import "tailwindcss";

.btn__counter_page {
  transition: 0.3s;
  cursor: pointer;
  transform: scale(var(--scale_counter_page));
}
.btn__counter_page:active {
  transition: 0.15s;
  transform: scale(0.8);
}
